@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-outfit: "Outfit", sans-serif;
  --font-bebas: "Bebas Neue", sans-serif;
  --font-dm: "DM Sans", sans-serif;
}
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  prefersdark: true;
}


body {
  font-family: 'Outfit', sans-serif;
}




